<div class="overlay">
    <div class="modal">
        <div class="modal-header">
            <h2>Your Shopping Cart</h2>
            <button class="close-btn" (click)="cartClose.emit()">X</button>
        </div>
        <div class="modal-body">
            <p *ngIf="(cartItems$ | async)?.length === 0">Your cart is empty.</p>
            <ul *ngIf="(cartItems$ | async)?.length > 0">
                <div *ngFor="let item of cartItems$ | async">
                    <img *ngIf="item.image" [src]="item.image" [alt]="item.name" class="cart-image" />
                    <div class="cart-item-info">
                        <h3>{{ item.name }}</h3>
                        <p>${{ item.price }}</p>
                        <p>Quantity: {{ item.quantity }}</p>
                    </div>
                </div>

            </ul>
            
        </div>
    </div>
</div>